 <div class="new new1">
    <hr>
        <p>{{ recent.publishedAt | date('d') }} {{ recent.publishedAt | date('F') }}</p>

        <img src="{{ asset('images/index/portfolio/' ~ recent.image) }}" />

        <ul class="list-inline text-center">
          <li><i class="fa fa-eye"></i> {{ recent.numComments }}</li>
          <li><i class="fa fa-heart"></i> {{ recent.numLikes }}</li>
        </ul>
   
        <a href="{{ path('single_post', {'slug':recent.slug}) }}">{{ recent.title }}</a>
</div>