{% extends 'base.html.twig' %}
{% block title%}Images{% endblock %}
{% block body%}
<!-- Principal Content Start -->
   <div id="new Post">
   	  <div class="container">
   	    <div class="col-xs-12 col-sm-8 col-sm-push-2">
       	   <h1>New Post</h1>
		   	<!-- Modiificar este html para poder mostrar los css del form -->
			   {{ form_start(form, {'attr': {'class':'form-horizontal'}}) }}
                {{ form_errors(form) }}
                    <div class="form-group">
                        <div class="col-xs-6">
                            {{ form_row(form.title, {'attr': {'class':'form-control'}}) }}
                        </div>
                        <div class="col-xs-6">
                            {{ form_row(form.content, {'attr': {'class':'form-control'}}) }}
                        </div>
                    </div>
					<div class="form-group">
                        <div class="col-xs-12">
                            {{ form_row(form.image, {'attr': {'class':'form-control'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            {{ form_row(form.Send, {'attr': {'class':'pull-right btn btn-lg sr-button'}}) }}
                        </div>
                    </div>
            {{ form_end(form) }}

       	   <hr class="divider">
		</div>   
   	  </div>
   </div>
<!-- Principal Content Start -->
{% endblock %}
